<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}
        <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{#    <script type="text/javascript" src="http://www.alpacajs.org/js/alpaca.min.js"></script>#}
{#    <link type="text/css" href="http://www.alpacajs.org/css/alpaca.min.css" rel="stylesheet"/>#}
{#    <script src="{% static 'js/index.js' %}"></script>#}



    <title></title>
</head>
<body>
<div>{% if user.is_authenticated %}
        {{ user.username }}
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a>
    {% endif %}
</div>
<div>
    <h1>Welcome to Wealthy!</h1>
    <p>Investing made easy!</p>
     {% block content %}
    {% endblock content %}

</div>
</body>
</html>