<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wealth Concierge </title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.11.0.custom/jquery-ui.min.css' %}">
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">
    <link href="{% static 'css/wealthy.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Wealth Concierge </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>

                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>

                {% else %}
                    <li>
                        <a data-toggle="modal" data-target=".bs-example-modal-sm">Login</a>
                    </li>
                {% endif %}

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text row">
            {% block content %}
            {% endblock content %}
            {% if user.is_authenticated %}
                <a href="#portfolio" class="page-scroll btn btn-xl introJump">Your Portfolio</a>
            {% else %}
                <div class="intro-lead-in">Welcome To Wealth Concierge!</div>
                <div class="intro-heading">Check out a demo</div>
                <a href="#services" class="page-scroll btn btn-xl demo">Demo</a>
            {% endif %}

        </div>
        <div class="modal fade bs-example-modal-sm modalsTarget" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content loginModal">
                    <form method="post" action="/login/">
                        {% csrf_token %}
                        <input id="id_username" maxlength="245" name="username" type="text" class="form-control"
                               placeholder="Username" required autofocus>
                        <input id="id_password" name="password" type="password" class="form-control"
                               placeholder="Password" required>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="hidden createAccount">

        </div>
    </div>

    </div>
</header>

<section id="services">
    <div class="container">
        <div class="row">
            <div class=" col-xs-2 col-xs-offset-5 col-lg-2 col-offset-5 col-md-2 col-offset-5 demoAgeInput">
                <input type="text" style="text-align: center;" class=" input-lg form-control demo_age"
                       placeholder="Enter Age">
            </div>
        </div>
        <div class="row">
            <div class="ageSubmit col-xs-2 col-xs-offset-5 col-lg-2 col-offset-5 col-md-2 col-offset-5">
                <button class="btn btn-xl center-block ageInputBtn ">Submit</button>
            </div>
        </div>

        <div class="demoHide">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="row">
                    <h2 class="section-heading">Here's A Demo Portfolio For Someone Your Age!</h2>

                    <h3 class="section-subheading text-muted userAge"></h3>

                    <p class="firstPara"></p>
                        </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-12">

                <div class="col-md-4">
                    <div id="pieChart"></div>


                </div>
                <div class="col-md-4">

                    <div id="accordion">
                        <h3>S&P500 Index ETF</h3>

                        <div>Find a sutible ETF that tracks the S&P 500 index. This ETF should be low cost with fees less than .5% a year. Go with whatever your investment broker offers with free transactions.
                        </div>
                        <h3>REIT ETF</h3>

                        <div>Find a real estate investment trust(REIT) ETF that will give you the lowest yearly fee and follows the REIT Index. Keep in mind transaction fees and focus on ETF's that are offered through your financial broker.
                        </div>
                        <h3>Utilities ETF</h3>

                        <div>Invest in a low beta Utilities ETF that will help diversify your portfolio. Always focus on keeping fees and transaction costs low.
                        </div>
                        <h3>Government Bonds ETF</h3>

                        <div>Invest in a ETF that has a diversified portfolio of short and long-term Government Bonds. Preferably invested in US Government but stronger Eurozone countries work also. </div>
                        <h3>Corporate Bond Long Term Bonds</h3>

                        <div>Invest in a ETF that has a diversified portfolio of Long Term Corporate Bonds that have a majority invested in large blue chip companies. </div>
                        <h3>Intermediate Term Corporate Bonds</h3>

                        <div>Invest in Intermediate Bond ETF that follows mid-cap companies and has low fees and transaction costs.</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="demoResults">

                    </div>


                </div>
            </div>
                </div>
            <button class=" btn btn-xl makeProfileBtn center-block" data-toggle="modal"
                    data-target=".register-modal-sm">Create Yours!
            </button>
        </div>

        <div class="row">
            <div class="modal fade register-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <form method="post" action="/register/" enctype="form-data">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h2>Create Account</h2>
                            </div>
                            <h2 class="form-signin-heading">Create an account</h2>

                            <div class="userName">
                                <h4>Hey there! Lets make a username, so I know what to call you</h4>
                                <input id="id_username" maxlength="30" name="username" type="text"
                                       placeholder="Username">
                                <input id="id_first_name" maxlength="30" name="first_name" type="text"
                                       placeholder="First Name">
                                <input id="id_last_name" maxlength="30" name="last_name" type="text"
                                       placeholder="Last Name">

                                <a href="#" class="btn btn-lg btn-primary btn-block usernameNext"
                                   id="usernameNext">Next</a>
                            </div>
                            <div class="emailPassword" style="display: none;">
                                <h4>Awesome! Could we also get your e-mail and password too?</h4>
                                <input id="id_email" name="email" type="email" placeholder="E-mail">
                                <input id="id_password1" name="password1" type="password" placeholder="Password">
                                <input id="id_password2" name="password2" type="password"
                                       placeholder="Confirm Password">
                                <a href="#" class="btn btn-lg btn-primary btn-block emailPasswordNext">Next</a>
                            </div>
                            <div class="demographics" style="display: none;">
                                <h4> Almost done, just need your age, income and the monthly housing cost's for your
                                    entire home or apartment to finish registration!</h4>
                                <h5>Your monthly housing cost should include rent/mortgage, utilities, HOA, etc</h5>
                                <input id="id_income" name="income" type="text" placeholder="Yearly Income">
                                <input id="id_age" name="age" type="text" placeholder="Age">
                                <input id="id_housing" name="housing" type="text" placeholder="Manadatoy monthly spending">
                                <input id="id_zipcode" name="zipcode" type="text" placeholder="Zipcode">
                            </div>


                            <button class="btn btn-lg btn-primary btn-block doneButton" style="display: none;"
                                    type="submit">Yay! You're done!
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


</section>

{% if user.is_authenticated %}
    <section id="portfolio" class="bg-light-gray">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Your Portfolio</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-center">

                    <div id="pieChart2"></div>
                    <div class="hiddenPortfolio"></div>
                </div>

                <div class="col-lg-4 text-center ">

                    {% if user.risk_score < 1 %}
                        <a href="{% url 'risk_profile' %}" class="btn btn-xl riskScore">Find Your Risk Score</a>

                    {% else %}
                        <button class="btn btn-xl centered gtPortfolio">Portfolio</button>
                    {% endif %}
                    <div id="accordion2" style="display: none;">


                    </div>
                </div>

                <div class="col-lg-4 text-center">
                    <div class="portfolioResultsTax">

                    </div>
                    <div class="portfolioResultsMonth">
                    </div>
                    <div class="monthInvestment">
                    </div>
                    <div class="getPortfolio">


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a class="btn btn-default btn-xl homeDataBtn page-scroll" href="#homeData">More</a>

                    </div>
                </div>
            </div>




    </section>
<section id="homeData">
<div class="row">
    <div class="housing">
                <div class="col-lg-12 text-center">
                    <div id="container"></div>
                    <div class="housingQs">
                    <h2 class="section-heading housingQuest">Do you own or rent?</h2>

                <div class="col-lg-6">
                    <button class="btn btn-xl centered getRentPrice" >Rent</button>
                    <input type="hidden" id="myVar" name="zip" value="{{ zip|floatformat:"0" }}">
                    <div class="rentalPrice"></div>

                    </div>
                    <div class="col-lg-6">
                    <button class="btn btn-xl centered getHomePrice" >Own</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
{% endif %}

<section id="contact">
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Wealth Concierge 2014</span>
            </div>

            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<!-- jQuery Version 1.11.0 -->
<script src="{% static 'js/jquery-1.11.0.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.11.0.custom/jquery-ui.js' %}"></script>

<script src="{% static 'js/jquery-ui-1.11.0.custom/jquery-ui.min.js' %}"></script>


<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="{% static 'js/classie.js' %}"></script>
<script src="{% static 'js/cbpAnimatedHeader.js' %}"></script>

<!-- Contact Form JavaScript -->
<script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'js/d3pie.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'js/agency.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
<script src="{% static 'js/highcharts.js'%}"></script>
<script src="{% static 'js/exporting.js'%}"></script>

</body>

</html>
