{% extends 'base_dashboard.html' %}
{% load staticfiles %}


{% block content %}


    {% if investor.count == 1 %}
        <section id='homeData' class="bg-light-gray">
        <div id='dashboardContent' class="container">
        <div class="row">
            <button class="btn-xl btn btn-default loadPort">Load Portfolio</button>
            <div class="col-lg-12">
                <div class="quotesData text-center">
                    <p class="quotesDataText">Use the the two pie graphs to help balance your portfolio. Click an investment that helps balance your portfolio.
                        One click will buy the maximum you can afford. It is best to buy in chunks to limit broker
                        costs. </p>
                </div>
                <div class="finalText text-center">
                    Use the the two pie graphs to help balance your portfolio. Please keep in mind that the colors in the graphs do not match up. 
                </div>
                <div class="updateWords text-center">
                    <div id="loadingQuotes">
                        <p>Loading...</p>

                        <div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pies">
            <button class="updateBtn btn-md btn-default btn">Update</button>
            <div class="col-lg-12 text-center">
                <div class="col-sm-4 col-lg-6 portfolioPie text-center">
                    <div id="pieChartPort"></div>
                </div>
                <div class="col-sm-4 col-lg-6">
                    <div id="loadingPort">
                        <p>Loading...</p>

                        <div></div>
                    </div>
                    <div id="pieChartPers"></div>
                </div>
            </div>
        </div>
        <div class="row progressCharts">
            <div class="col-lg-6 col-lg-offset-3">
                <div id="loadingProgress">
                    <p>Loading...</p>

                    <div></div>
                </div>
                <div id="progressChart">
                </div>
            </div>
        </div>
    {% else %}
        <section id='homeData' class="bg-light-gray">
        <div id='dashboardContent' class="container">
        <div class="row">
        <div class="col-lg-12 text-center">
        <div class="quotesData2 text-center">
            <p class="quotesDataText2"> Click on a ETF to buy your monthly allowance worth and help balance
                portfolio!</p>
        </div>
        <h4>You do not have any stocks yet, please click the button</h4>
        <button class="btn btn-default btn-xl newPort">Start Your Journey!</button>
    {% endif %}
</div>
</div>
</div>
</section>

{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/d3pie.js' %}"></script>
    <script src="{% static 'js/highcharts.js' %}"></script>
    <script src="{% static 'js/funnel.js' %}"></script>
    <script src="{% static 'js/value-in-legend.js' %}"></script>

{% endblock %}