{% extends 'base_dashboard.html' %}
{% block content %}
    <h1>Welcome to Wealth Concierge </h1>

    <h3>This site is only for informational purpose and was built as fun side project to help someone learn
        programming for fun.</h3>
    <p>Should I follow the advice? </p>
    <p>The investment advice is not actually investment advice. Please understand that investing has risks and that as
        an
        investor you should become fully aware of those risks before embarking on an investment strategy.</p>

    <p>The purpose of this project is help people who are interested in stocks and retirement while providing
        a new experience.</p>

    <p>Who made the portfolio recommendations?</p>
    <p>The recommendations are set based on your quiz score and what the expected rate of return should be. We use portfolio
    weighting to discover the return. </p>

    <p>The housing section is meant to show indication of the last twelve months of housing data provided by Zillow. The
        data is often a couple months behind but serves as a great trend line. </p>
{% endblock %}