{% extends 'base_dashboard.html' %}
{% block content %}
    <h1>Please use Wealth Concierge for fun only, and not as actual investment advice. The site is not meant to be
        taken seriously!</h1>
    <p>Confused on how to use Wealth Concierge?</p>
    <p>Start with entering your age into the demo input. From there you need to click create yours.</p>
    <p>Once you fill out the very long and thorough signup form, scroll down to portfolio.</p>
    <p>If it is your first time using the app then you will need to take the risk score. It is 16 questions and think hard
    and answer as truthfully as you can.</p>
    <p>Once you have completed the risk score, all you need to do is hit portfolio button again and there you are! Your own
    custom portfolio</p>
    <p>There are bonus features like housing which will give you a trend of the last 12 months of housing data for your
    zipcode.</p>
    <p>The dashboard button will take you to a new page and you can begin to buy and track your performance of your
    portfolio.</p>



{% endblock %}