{% extends 'base_dashboard.html' %}
{% block content %}
    <div class="howTo">
    <h1>Please use Wealth Concierge for fun only, and not as actual investment advice. The site is not meant to be
        taken seriously!</h1>
    <h3>Confused on how to use Wealth Concierge?</h3>
    <h2>Just start here!</h2>
    <p>Start with entering your age into the demo input. Scoll down and see the demo portfolio, which doesn't change that much.
        </p><p>From there you need to click create yours.</p>
    <p>Once you fill out the very long and thorough signup form, please scroll down to portfolio.</p>
    <p>The first time using the app you will need to take the risk score quiz. The quiz is 16 questions split up into
        four sections.</p>
    <p>Think long and hard before answering each question because you will not be able to change your score again.</p>
    <p>Once you have completed the risk quiz, all you need to do is hit portfolio button again and you're done! Your own
        custom portfolio will show up.</p>
    <p>The portfolio will calculate your after-tax income amount, what your disposable income, and will an amount of
        money which will be a percentage of what you should invest each month.</p>
    <p>There are bonus features like housing which will give you a trend of the last 12 months of housing data for your
        zipcode.</p>
    <p>The dashboard button will take you to a new page and you can begin to buy and track your performance of your
        portfolio.</p>
</div>


{% endblock %}