.demoAgeInput  {
    display: none;
    margin-bottom: 40px;

}
.ageInputBtn{
    display: none;
    padding-top: 30px ;
}

.demoHide{
    display: none;
}
@import url(//fonts.googleapis.com/css?family=Oswald:400);
* {
  margin: 0;
  padding: 0;
}
body {
  background: #ddd;
  font-family: "Oswald", "Helvetica Newe", Helvetica, sans-serif;
}

#container{
    position: relative;
    margin: auto;
    min-width: 400px;
    height: 400px;
    max-width: 400px
}
.highcharts-button{
    display: none;
}
rect.highcharts-background{
    background-color: #ddd;
}
#accordion{


}
.ui-accordion{
    text-align: center;
    position: relative;
    background-color: #ddd;

}
.ui-state-default{
    background: none;
}

.modal{
    min-height: 300px;
    /*margin: 200px;*/
}
.modal-content{
    height: 100%;
    padding: 20px 25px;
}
.register-modal-lg{
    height: 100%;
}
ul{
    list-style-type: none;
}
.riskForm{
    background-color: #ddd;
    opacity: .70;
    width: 50%;
    margin: 3rem auto;
    border-radius: 10px;
    text-align: left;
    padding: 3rem;
    font-size: 1.5rem;
    border: black solid 2px;


}

.questSetOne p {
    color: #000000;
    font-family: sans-serif;

}
.questSetOne li {
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.questSetTwo p {
    color: #000000;
    font-family: sans-serif;

}
.questSetTwo li {
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.questSetThree p {
    color: #000000;
    font-family: sans-serif;

}
.questSetThree li {
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.questSetFour p {
    color: #000000;
    font-family: sans-serif;

}
.questSetFour li {
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.questSetOneNext{
    margin-left: auto;

}
.stockPrices{
    margin-top: 40px;
    text-align: center;
}
.stPrice{
    text-align: center;
    display: inline;
}
.ui-accordion .ui-accordion-content {
    padding-bottom: 0;
    max-height: 150px;
}
.homeDataBtn{
    display: none;
}
.housing{
    display: none;
}
.zestimateWidget{
    display: none;
}
#container{
    min-width: 300px;
    max-width: 600px;
    height: 300px;
    margin: 0 auto
}
.housingAnalysis{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 30px;
}
.housingAnalysisTitle{
        display: none;

}
.dashboardBtn{
    display: none;
}
#dashboardBackground{
    /*opacity: .85;*/
}
#dashboardContent{
    /*opacity: .9;*/
}
.quotesData div{
    color: #000000;

}
#piechart2{
    min-height: 300px;
    min-width: 300px;
    max-height: 400px;
    max-width: 400px;
}
#piechart{
    min-height: 300px;
    min-width: 300px;
    max-height: 400px;
    max-width: 400px;
}
/*.chart-wrapper {*/
 /*position: relative;*/
    /*padding-bottom: 40%;*/
    /*width:45%;*/
    /*float:left;*/
/*}*/

/*.chart-inner {*/
/*position: absolute;*/
    /*width: 50%; height: 100%;*/
/*}*/
@import url(http://fonts.googleapis.com/css?family=Raleway:900,700,500,300,100);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





.bouncywrap{
    text-align: center;
  /*position: relative;*/
    display: none;
}


.dotcon{
  display: block;
  /*float: left;*/
  width: 50px;
  position: absolute;
}

.dc1{
  -webkit-animation: bouncy1 1.5s infinite;
  left: -40px;
  animation: bouncy1 1.5s infinite;
}

.dc2{
  -webkit-animation: bouncy2 1.5s infinite;
  animation: bouncy2 1.5s infinite;
  left: 0;
}

.dc3{
  -webkit-animation: bouncy3 1.5s infinite;
  animation: bouncy3 1.5s infinite;
  left: 40px;
}

.dot{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: rgba(0, 163, 255, 0.80);
}


@-webkit-keyframes bouncy1{
  0% {-webkit-transform: translate(0px,0px) rotate(0deg);}
  50% {-webkit-transform: translate(0px,0px) rotate(180deg);}
  100% {-webkit-transform: translate(40px,0px) rotate(-180deg);}
}

@keyframes bouncy1{
  0% {transform: translate(0px,0px) rotate(0deg);}
  50% {transform: translate(0px,0px) rotate(180deg);}
  100% {transform: translate(40px,0px) rotate(-180deg);}
}

@-webkit-keyframes bouncy2{
  0% {-webkit-transform: translateX(0px);}
  50% {-webkit-transform: translateX(-40px);}
  100% {-webkit-transform: translateX(-40px);}
}

@keyframes bouncy2{
  0% {transform: translateX(0px);}
  50% {transform: translateX(-40px);}
  100% {transform: translateX(-40px);}
}

@-webkit-keyframes bouncy3{
  0% {-webkit-transform: translateX(0px);}
  50% {-webkit-transform: translateX(0px);}
  100% {-webkit-transform: translateX(-40px);}
}

@keyframes bouncy3 {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-40px);
    }
}